<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="SGDCEntities" connectionString="metadata=res://*/SGModel.csdl|res://*/SGModel.ssdl|res://*/SGModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=123456;persistsecurityinfo=True;port=3306;database=sgdc&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="uid" value="zdgis"/>
    <add key="pwd" value="zdgisgps"/>
    <add key="pwd_md5" value="33067df25c90742ed3c6925c04919112"/>
    <add key="url" value="http://api.sms.cn/mt/"/>
  </appSettings>
  <!--<appSettings>
    <add key="uid" value="zdgis"/>
    <add key="pwd" value="zdgisgps"/>
    <add key="pwd_md5" value="33067df25c90742ed3c6925c04919112"/>
    <add key="url" value="http://api.sms.cn/mt/"/>
  </appSettings>-->
</configuration>
